<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/seller.css">
</head>
<body>
    <div class="header">
        <div class="menu-bar">
            <div class="menu-left">
                <div class="logo">
                    <img src="imag/logomenu.png">   
                </div>
                <div class="search">
                    <input type="text" placeholder="what is you look for?" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <ul>
                    <li><a href="../product/products.html">Products </a></li>
                     <li><a href="seller.html">Seller </a></li>
                </ul>    
            </div>
            <div class="menu-right">
                <button><a href="../sing in/sing in.html"> Sign In</a>  |<a href="../sing up/sing up.html"> Sign-up</a></button>
            </div>
        </div>
        <div class="nav-content">
            <div class="head">
                <h2>Add Products</h2>
            </div>
            <div class="container">
                <div class="form-add">
                    <form action="/action_page.php">
                        <div class="row">
                          <div class="col-25">
                            <label for="fname">Name</label>
                          </div>
                          <div class="col-75">
                            <input id="fname"  type="text"  name="fname" placeholder="Your product name..">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-25">
                            <label for="price">Price</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="price" name="" placeholder="$">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-25">
                            <label for="myFile">Imag</label>
                          </div>
                          <div class="col-75">
                              <input type="url" id="myFile" >
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-25">
                            <label for="description">Description</label>
                          </div>
                          <div class="col-75">
                            <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
                          </div>
                        </div>
                        <!-- <div class="icon">
                            <span id="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                            <span id="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </div> -->
                        
                        <div class="row">
                          <button id="button">+Add Product</button>
                        </div>
                        <a href="../product/products.html">View Products</a>
                    </form>
                </div>
                <div class="table-data"></div>
            </div>    
        </div>
    </div>
    <script src="js/seller.js"></script>   
</body>

</html>