<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/buyer.css">
</head>
<body>
    <div class="contenter">
        <div class="menu-bar">
            <div class="menu-left">
                <div class="logo">
                    <img src="../imag/logomenu.png">   
                </div>
                <div class="search">
                    <input type="text" placeholder="what is you look for?" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <ul>
                    <li><a href="products.html">Products </a></li>
                    <li><a href="buyer.html">Buyer</a></li>
                     <li><a href="seller.html">Seller </a></li>
                </ul>    
            </div>
            <div class="menu-right">
                <button><a href="sing in.html"> Sign In</a>  |<a href="sing up.html"> Sign-up</a></button>
            </div>
        </div>
    </div>
    
</body>
</html>