<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/products.css">
</head>
<body>
    <div class="contenter">
        <div class="menu-bar">
            <div class="menu-left">
                <div class="logo">
                    <img src="imag/logomenu.png">   
                </div>
                <form action="">
                    <input type="text" id="search" placeholder="what is you look for?" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                
                <ul>
                    <li><a href="../product/products.html">Products </a></li>
                     <li><a href="../seller/seller.html">Seller </a></li>
                </ul>    
            </div>
            <div class="menu-right">
                <button><a href="../sing in/sing in.html"> Sign In</a>  |<a href="../sing up/sing up.html"> Sign-up</a></button>
            </div>
        </div>
        <div class="cart-products">
            <div class="card">
                <img src="imag/shirt1.png" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt2.avif" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt5.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt4.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt3.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt9.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt7.png" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt8.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt9.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt10.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt11.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt7.png" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt12.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt13.jpg" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>
            <div class="card">
                <img src="imag/shirt14.webp" alt="Denim Jeans" style="width:100%">
                <h1>Tailored Jeans</h1>
                <h4 class="price">$19.99</h4>
                <div class="icon">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    
                    
                </div>
                <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
                <p><button>Buy Now</button></p>
              </div>

        </div>
        <footer>
            <div class="foot">
                <h3>Contact Us</h3>
                <span><b>Tell:</b> +885977348624</span>
                <span><b>Working time:</b> 24h</span>
                <span><b>Address:</b> BP 511, Phum Tropeang Chhuk (Borey Sorla) Sangtak, Street 371, Phnom Penh</span>
            </div>
            <div class="foot">
                <h3>Company</h3>
                <span><a href="">Contact Us</a></span>
                <span><a href="">Our partners</a></span>
            </div>
            <div class="foot">
                <h3>Follow Us</h3>
                <div class="follow">
                    <img src="imag/facebook.png">
                    <img src="imag/youtube.png">
                    <img src="imag/twitter.png">
                    <img src="imag/instargram.png">
                </div>
            </div>
        </footer>
    </div>
    
</body>
</html>