<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="css/sing in.css">
</head>
<body>
    <form>
        <div class="imgcontainer">
          <img src="imag/account-removebg-preview.png" alt="Avatar" class="avatar">
          <h2>User Login</h2>
        </div>
        <div class="container">
          <label for="uname"><b>Emial</b></label>
          <input type="text" placeholder="Enter Emial" name="uname">
          
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw">
          <p>Forgot password?</p>
          <button type="submit"><a href="../product/products.html"> Login</a></button>
          <label>
            <p>Don't have an account? <a href="../sing up/sing up.html">Sign-Up</a></p>
          </label>
        </div>
    </form>
    
</body>
</html>