body{
    margin: 0;
    padding: 0;
    background-image:url(../imag/background.jpg) ;
    background-size: cover;
    font-family: sans-serif;
}

.menu-bar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: fixed;
    z-index: 1000;
    margin-bottom: 50px;
}
.menu-left {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
#form {
    width: 50%;
    display: flex;

    padding: 15px;

}
#form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-radius: 20px 0px 0px 20px;
}
#form button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}
  
#form button:hover {
    background: #0b7dda;
}
  

ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li{
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    padding: 20px 20px 20px 20px;
}
ul li a:hover {
    background-color: #2196F3;
    color: white;
}
.menu-right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}
.menu-right button {
    padding: 10px 20px 10px 20px;
    background-color: rgb(252, 164, 2);
    border: none;
    border-radius: 5px;
    font-size: 17px;
}
.menu-right button a{
    text-decoration: none;
}



/* ----------------Form Sign-up--------------- */
#form2 {
    padding-top: 70px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    background-color: rgb(143, 205, 226);
    width: 45%;
    
}
.name{
    display: flex;
    gap: 10px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 7px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
   background-color: orange;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
button a{
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}
.imgcontainer {
    text-align: center;
}
  
img.avatar {
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
}
  
.container {
    padding: 16px;
}
@media (max-width: 600px) {
    form{
        margin-top: 50px;
        width: 70%;
    }
    img.avatar{
        width: 95px;
    }
    .name{
        display:flex;
        flex-direction: column;
    }

}